/* Header Style */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-header {
    display: flex;
    flex: 2;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.right-header {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link-nav {
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    color: black;
    text-decoration: none;
}

.link-active {
    font-weight: "800";
    margin: 0;
    transform: rotate(-10deg);
    color: var(--primary);
    text-decoration: "none";
}

.link-nav:hover {
    font-weight: "800";
    margin: 0;
    transform: rotate(-20deg);
    color: var(--primary);
    text-decoration: "none";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .right-header {
        visibility: hidden;
    }
}